body {
    background-color: rgb(255, 251, 247);
    font-family: sans-serif;
    text-align: center;
}

#container {
    margin:  10px auto;
    height: 400px;
    width: 400px;
    border: 1px solid #000;
}

.row {
    display: flex;
}

.box {
    flex: 0 1 auto;
    background-color: #FFF;
}

.reset {
    border: none;
    padding:10px;
}